header {
    background-image: linear-gradient(120deg, rgba(147, 149, 251, 0.699) 0%, rgba(67, 189, 36, 0.692) 100%), url("../img/header.png");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

    .contenedor_logo_menu {
		padding: 25px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		/* .logo {
			a {
				display: block;
                img {
                    vertical-align: top;
                }
            }
        } */
		.menu {
			text-align: right;
			line-height: 56px;
			a {
				color: #fff;
				margin-left: 60px;
				font-size: 1rem;
				text-decoration: none;
				transition: all 0.3s ease;
                padding: 8px 12px;
                border: 2px solid transparent;
                border-radius: 6px;
				&:hover {
                    border: 2px solid #fff;
                }
            }
        }
    }

    .textos-btn {
        text-align: center;
        margin: 160px 0px;
        color: #fff;
        .primera_linea {
            font-size: 4rem;
            font-weight: bold;
        }
        .segunda_linea {
            font-weight: 400;
            margin-bottom: 40px
        }
        .contenedor-btns {
            a {
                border: 2px solid #ffffff;
                background-color: #ffffff;
                padding: 14px 20px;
                text-decoration: none;
                border-radius: 6px;
                color: #007BFF !important;
                margin: 10px 10px;
                transition: all 0.3s ease;
                    &:hover {
                        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.192);
                        background-color: #5368df;
                        color: #fff !important;
                    }
            }
        }
    }
}