.main {
    // Textos e Ilustración
    .seccion-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        .contenedor-imagen{
            margin-right: 40px;
            img {
                width: 100%;
            }
        }
        .textos {
            margin-left: 40px;
            p {
                line-height: 30px;
                margin-bottom: 30px;
            }
            a {
                border: 2px solid #007BFF;
                background-color: #007BFF;
                padding: 14px 20px;
                text-decoration: none;
                border-radius: 6px;
                margin-top: 40px;
                color: #fff;
                transition: all 0.3s ease;
                    &:hover {
                        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.192);
                        background-color: #fff;
                        color: #007BFF;
                    }
            }
        }
    }

    // Textos
    .seccion-2 {
        height: 160px;
        background: linear-gradient(120deg, rgba(147, 149, 251, 0.699) 0%, rgba(67, 189, 36, 0.692) 100%);
        margin-bottom: 80px;
        .textos {
            text-align: center;
            padding: 30px;
            color: #fff;
            h2 {
                font-weight: bold;
            }
        }
    }

    // Servicios
    .seccion-3 {
        text-align: center;
            h3 {
                font-size: 2rem;
                margin: 0px;
            }
            .card {
                margin: 60px 20px;
                text-align: center;
                height: 300px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
                transition: transform 0.6s;
                &:hover {
                    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                    transform: scale(1.02);
                    cursor: pointer;
                }
                i {
                    margin: 16px 20px;
                    color: #80D070;
                    font-size: 50px;
                }
                h3 {
                    font-size: 1.5rem;
                    margin: 0px;
                }
                p {
                    margin: 0px;
                    margin-bottom: 10px;
                    font-size: 1.25rem;
                }
                a {
                    border: 2px solid #007BFF;
                    background-color: #007BFF;
                    padding: 8px 14px;
                    text-decoration: none;
                    border-radius: 6px;
                    color: #fff;
                    transition: all 0.3s ease;
                    width: 150px;
                    margin: 0px auto;
                    &:hover {
                        background: #2e93ff;
                    }
                }
            }
    }

    // Trabajos
    .seccion-4 {
        text-align: center;
        background-color: #e4e4e4;
        padding-top: 60px;
        padding-bottom: 60px;
        h3 {
            font-size: 2rem;
            margin-bottom: 50px;
        }
        .trabajo {
            height: 310px;
            margin: 10px 10px;
            overflow: hidden;
            .imagen {
                margin-bottom: 10px;
                margin-top: 3px;
                img {
                    width: 240px;
                    border-radius: 6px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
                    transition: transform 0.6s;
                    &:hover {
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                        transform: scale(1.02);
                        cursor: pointer;
                    }
                }
            }
            .descripcion {
                p {
                    margin: 1px;
                    padding: 0px;
                }
                .nombre {
                    font-size: 1.25rem;
                    color: #007BFF;
                    font-weight: 700;
                }
                .categoria {
                    font-size: 1rem;
                    color: #636363;
                }
            }
        }
    }

    // Formulario
    .seccion-5 {
        text-align: center;
        margin: 60px 0px;
        h3 {
            font-size: 2rem;
            margin: 40px 0px;
        }
        .formulario {
            input, textarea {
                border-radius: 6px;
                border: 1px solid #b9b9b9;
                outline: none;
                padding: 10px;
                background: #e4e4e4;
            }
            .texto, .email, .mensaje {
                margin: 10px;
                transition: all 0.3s ease;
                &:focus {
                    border: 1px solid #007BFF;
                }
            }
            .texto, .email {
                width: 100%;
            }
            .mensaje {
                width: 100%;
                height: 100px;
                max-width: 100%;
                max-height: 100px;
                min-height: 100px;
            }
            .enviar {
                color: #fff;
                background: #007BFF;
                transition: all 0.3s ease;
                &:hover {
                    background: #2e93ff;
                }
            }
        }
    }
}